.container{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
   
}
.ele{
    margin-top: auto;
    margin-bottom: auto;
}
.container img{
    max-width: 200px;
    margin: 10px
}

.container::-webkit-scrollbar{
    display: none;
}